@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    @apply bg-black text-yellow-500 
}
@layer components {
    .wrapper {
      width: min(100% - 15px,840px);
      margin-inline: auto;
      margin-bottom:60px;
    },
    [type="date"] {
      background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }
    [type="date"]::-webkit-inner-spin-button {
      display:none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.placarColisao{
  display: flex;
  align-items: center;
  width: 50px;
  height: 80px;
  color:black;
  padding:0 6px;
  shape-outside: polygon(
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 0
      );
      clip-path: polygon(
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 100%,
        50% 80%,
        50% 20%
      );
      background: #FFED00;
}

  .texto{
  
  transform: rotate(180deg)
  }
  .placarAdversario{
  display: flex;
  align-items: center;
  width: 50px;
  height: 80px;
  color:black;
  padding: 0 6px;
  transform: rotate(180deg);
  
  shape-outside: polygon(
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 0
      );
      clip-path: polygon(
         0 0,
        0 0,
        0 0,
        0 0,
        0 0,
        0 100%,
        50% 80%,
        50% 20%
      );
      background: #FFED00;
}

  }